.removeButton{
   background-color: rgb(243, 128, 79);
}
.styledButtonLi{
   font: 20px bold sans-serif;
   /* background-color: rgb(127, 255, 159); */
   height: 70px;
   width: 70px;
   display: flex;
    justify-content: center;
    align-items: center;
}